<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project 1</title>

	<!-- VENDOR STYLES -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

	<!-- APP STYLES -->
    <link rel="stylesheet" href="css/styles.css">


	<!-- VENDOR SCRIPTS -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    

    <!-- APP SCRYPTS -->
    <script src="/js/profile.js"></script>
</head>
<body>

    <!-- Nav-bar partial -->
    <% include ./_nav-bar.ejs %>


<!-- List of User's Active Posts -->

<div class="container col-sm-8 col-sm-offset-2">

  <h3 id="profile-title"><%=user.username%>'s active marks:</h3>
  <%if(user.marks.length > 0) { %>
  <% for(var i = user.marks.length-1; i >= 0; i--) { %>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp" id="<%=user.marks[i]._id%>">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= user.marks[i].businessName %></h2>
      </div>
    
      <div class="mdl-card__supporting-text">
        <h4 class="mdl-card__subtitle-text"><%= user.marks[i].address %></h4>
        <ul>
          <li class="mark-item">Crowd Level: <%= user.marks[i].crowdLevel %></li>
          <li class="mark-item">Music review: <%= user.marks[i].lastSong %></li>
          <li class="mark-item">Happy Hour: <%= user.marks[i].happyHour %></li>
          <li class="mark-item">Review: <%= user.marks[i].review %></li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button data-id="<%=user.marks[i]._id%>"class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect pull-right delete-mark">DELETE</button>
      </div>
    </div>
    <% } %> 
  <% } %>
</div>

</body>
</html>
