<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project 1</title>

	<!-- VENDOR STYLES -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- APP STYLES -->
    <link rel="stylesheet" href="css/styles.css">

	<!-- VENDOR SCRIPTS -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<% gMaps %>&sensor=false&libraries=places"></script>

    <!-- APP SCRYPTS -->
    <script src="/js/auth_val.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>

<!-- NAV BAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bar Marks</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right" id="navbar-right">
    	<li><a href="#" class="not-logged-in" style="display:none" id="sign-up-btn" data-toggle="modal" data-target="#sign-up-modal">Sign Up</a></li>
        <li><a href="#" class="not-logged-in" style="display:none" id ="login-btn" data-toggle="modal" data-target="#login-modal">Login</a></li>
        <li><a href="#" class="logged-in" style="display:none" id="greeting" ></a></li>
        <li><a href="/profile" class="logged-in" style="display:none" id="user-profile" >Profile</a></li>
        <li><a href="/logout" class="logged-in" style="display:none" id="logout-btn" >Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- List of User's Active Posts -->

<div class="container col-sm-6 col-sm-offset-3">

  <h1><%=user.username%>'s active marks:</h1>
  <%if(user.marks.length > 0) { %>
  <% for(var i = user.marks.length-1; i >= 0; i--) { %>
  <div class="active-marks">
    <h3><%= user.marks[i].businessName %></h3><br>
    <h5><%= user.marks[i].address %></h5><br>
    <p>Crowd Level: <%= user.marks[i].crowdLevel %></p><br>
    <p>Music review: <%= user.marks[i].lastSong %></p><br>
    <p>Happy Hour: <%= user.marks[i].happyHour %></p><br>
    <p>Review: <%= user.marks[i].review %></p><br>
   </div>
    <% } %> 
  <% } %>
</div>


</body>
</html>
